day01
day02
day03
day04
day05
day06
day07
day07-part1
day07-part2
day08
day09
day10
day11
day11-part1
day11-part2
day12-part1
day12-part2
day12-part2.old
day13
day13-part1
day13-part2
day14
day14-part1
day14-part2
day15
day16
day17-part1
day17-part2
day18-part1
day18-part2
day19
day19count
day20
day21
day22
testmacros
testtimes
testtree
*.o
*.new
*.bak
*.old
*.swp
TODO
inputs
